<html lang="en">
<head>
</head>






<body>
  
<header>  
  <!-- Navbar -->
<nav>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Profile</a>
  </li>
  
</ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>

</header>
  <!-- Jumbotron -->
  <jumbotron>
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Crypto Tracker By STAT</h1>
    <h4 class="mb-3"> Be Your own Tracker</h4>
    <a class="btn btn-primary" href="" role="button">Sign Up For Free</a>
    </div>


    


<div class = "box1">
       <div class = "crypto-container-all">
    {{{ body }}}
    </div>
</div>
  </jumbotron>

  </body>

</div>


</html>
<script type="module" src="/javascript/home.js"></script>


