<html lang="en">
<head>
<script type="module" src="/javascript/crypto.js"></script>
<script type="module" src="/javascript/profile.js"></script>
</head>






<body>
  
   <header>
  
  <!-- Navbar -->
<nav>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Profile</a>
  </li>
  
</ul>
</nav>
</header>
  <!-- Jumbotron -->
  <jumbotron>
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Crypto Tracker By STAT</h1>
    <h4 class="mb-3"> Be Your own Tracker</h4>
    <a class="btn btn-primary" href="" role="button">Sign In For Free</a>
    </div>
<div class = "box1">
   <h1>
    <class class = "crypto-container-all">
    {{{ body }}}
</div>
  </jumbotron>

  <!-- Jumbotron -->

  
  
  



</body>


</html>


