<p id="userId" hidden>{{userId}}</p>
<p id="loggedIn" hidden>{{loggedIn}}</p>
      <!--Main Navigation-->
  <div class="p-5 container text-center bg-dark text-white id=divclassmain">
    <h1 class="mb-3">Crypto Tracker By STAT</h1>
    {{#if loggedIn}}
    <h5 class="mb-3">Click a row to add it to your profile</h5>
    {{else}}
    <h4 class="mb-3"> Be Your own Tracker</h4>
    <a class="btn btn-primary" href="/signup" role="button">Sign Up For Free</a>
    {{/if}}
    </div>
<button class="page-button" id="left-button"> &#8592</button>
<button class="page-button" id="right-button"> &#8594</button>
<row class = "container crypto-container-all">

    
    {{!-- div class="row crypto-container" div--}}
        {{!--div class="col crypto-fullName" div--}}
        {{!--div class="col crypto-ticker" div--}}
        {{!--div class="col crypto-price" div--}}
        {{!--div class="col crypto-low" div--}}
        {{!--div class="col crypto-high" div--}}
        {{!--div class="col crypto-change" div--}}
        {{!--div class="col crypto-mktCap" div--}}
        {{!--div class="col crypto-image-container" --}}
            {{!--img class="crypto-image" img --}}
        {{!-- div --}}
    </div>
    </span>
</div>

<script type="module" src="/javascript/home.js"></script>


