<h1>Profile page</h1>
<p id="userId" hidden>{{userId}}</p>

<row class = "container crypto-container-all">
    {{!-- div class="row crypto-container" div--}}
        {{!--div class="col crypto-fullName" div--}}
        {{!--div class="col crypto-ticker" div--}}
        {{!--div class="col crypto-price" div--}}
        {{!--div class="col crypto-low" div--}}
        {{!--div class="col crypto-high" div--}}
        {{!--div class="col crypto-change" div--}}
        {{!--div class="col crypto-mktCap" div--}}
        {{!--div class="col crypto-image-container" --}}
            {{!--img class="crypto-image" img --}}
        {{!-- div --}}

<script type="module" src="/javascript/profile.js"></script>