
<p id="userId" hidden>{{userId}}</p>

<header>
<!-- Jumbotron -->
  <div class="p-5 text-center bg-dark text-light">
    <h1 class="mb-3">Profile</h1>
    <h4 class="mb-3">Track Your Money</h4>
    {{!-- <a class="btn btn-primary" href="" role="button">Call to action</a> --}}
  </div>
  <!-- Jumbotron -->
</header>

<row class = "container crypto-container-all">
    {{!-- div class="row crypto-container" div--}}
        {{!--div class="col crypto-fullName" div--}}
        {{!--div class="col crypto-ticker" div--}}
        {{!--div class="col crypto-price" div--}}
        {{!--div class="col crypto-low" div--}}
        {{!--div class="col crypto-high" div--}}
        {{!--div class="col crypto-change" div--}}
        {{!--div class="col crypto-mktCap" div--}}
        {{!--div class="col crypto-image-container" --}}
            {{!--img class="crypto-image" img --}}
        {{!-- div --}}

<script type="module" src="/javascript/profile.js"></script>