<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap Template</title>



</head>

<body>


  <!--Main Navigation-->
  <header>

    <!--Intro Section-->
    <section class="view intro-2">
      <div class="mask rgba-stylish-strong h-100 d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

              <!--Form with header-->
              <div class="card wow fadeIn" data-wow-delay="0.3s">
                <div class="card-body">

                  <!--Header-->
                  <div class="form-header purple-gradient">
                    <h3><i class="fas fa-user mt-2 mb-2"></i> Sign up:</h3>
                  </div>

                  <!--Body-->
                  <form class="signup-form">
                    <div class="md-form">
                    <i class="fas fa-user prefix white-text"></i>
                    <input type="text" id="username-signup" class="form-control">
                    <label for="orangeForm-name">Your name</label>
                  </div>

                  <div class="md-form">
                    <i class="fas fa-lock prefix white-text"></i>
                    <input type="password" id="password-signup" class="form-control">
                    <label for="orangeForm-pass">Your password</label>
                  </div>

                  <div class="text-center">
                    <button class="btn purple-gradient btn-lg">Sign up</button>
                  </div>
                  </form>

                </div>
              </div>
              <!--/Form with header-->

            </div>
          </div>
        </div>
      </div>
    </section>

  </header>
  <!--Main Navigation-->


  <!--  SCRIPTS  -->
 <script src="/javascript/signup.js"></script>